@import '../../../styles/card.scss';

h1 {
    background: red;
    // Add some CSS here! What if you try to change the background?
}

.button-delete {
  background-color: white;
  border: solid 1px red;
  color: red;
  font-weight: bold;
  padding: 0.5em 1em;
}
